name: Java CI-Pipeline
#Löst bei push aus
on: [push]

#Variablen
env:
  SRC_DIR: "Pipeline-Test/src/*.java"

jobs:
  #Build-Job
  build:
  #Die VM auf der das ausgeführt wird
    runs-on: ubuntu-latest
    steps:
    #Den Code vom Repo holen
      - name: Checkout Code
        uses: actions/checkout@v4
    #JDK zum kompilieren einrichten    
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
    #bin ordner erstellen, falls nicht vorhanden
      - name: Create bin directory
        run: mkdir -p Pipeline-Test/bin

      #Kompiliere Java
      - name: Compile Java
        run: javac -d Pipeline-Test/bin $SRC_DIR

      #Artefakte uploaden damit test darauf zugreifen kann
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: java-build-artifact
          path: Pipeline-Test/bin

  #Test-Job
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
    #JDK einrichten zum ausführen des Java files
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
        #Artefakt holen
      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: java-build-artifact
          path: Pipeline-Test/bin
        #Java ausführen
      - name: Run Java Test
        run: java -cp Pipeline-Test/bin App
      
